body {
  background: linear-gradient(180deg, rgba(63, 92, 166, 0.05) 0%, rgba(255, 255, 255, 0) 89.03%), #F8F8FA;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
}

.item {
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 5px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  margin: 5px;
}

.item-price {
  margin-top: 10px;
}

.item-usd {
  margin-top: 20px;
  font-size: 15px;
}

.percent-g {
  color: #03CEA4;
  font-size: 15px;
}
.percent-r {
  color: red;
  font-size: 15px;
}

.list-wrapper {
  padding: 10px;
}

.list-items{
  display: flex;
  flex-wrap: wrap;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.button {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 16px;
  font-size: 16px;
}

.button:hover {
 opacity: .5;
}


/* const */
.flex-between {
  display: flex;
  justify-content: space-between;
}

/* font */
.title-font {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  padding: 10px;
}
.header-font {
  font-weight: bold;
  font-size: 54px;
  text-align: center;
}

@media screen and (max-width: 568px) {
  .list-items {
    justify-content: center;
  }
}